module.exports = {
stories: ['../test/components/**/*.stories.json'],
         //  stories: ['../spec/components/**/*.stories.json'], if using RSpec
         addons: [
           '@storybook/addon-controls',
         ],
};  
